*{
    margin: 0;
    padding:0;
}
body{
    font-family: 'Courier New';
    margin-right: 0.8rem;
    color: bisque;
    text-align: center;
}
table{
    color: rgb(0, 0, 0);
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}
th,td{
    color:black;
    border: 2px solid black;
}
a{
    color: red;
    text-decoration: none;

}
form{
    display: flex;
    flex-direction: column;
    
}
label{
    color:rgb(0, 0, 0);
}
select{
text-decoration: none;
}
button{
    width: 10vw;
    background-color: red;
    margin-left:45vw ;
    padding:10px;
    margin-top:5vh;
    border-radius: 5px;
}
input{

}